<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>DougAlcorn@lathi.net</title>
    <link href="/stylesheets/reset-min.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/site.css" type="text/css" rel="stylesheet">
    <link href="http://widgets.twimg.com/j/1/widget.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/1/widget.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/twitter.js"></script>
  </head>
  <body>
    <div id="header">
      <div class="inner">
        <h1><a href="/index.html">Doug Alcorn @lathi.net</a></h1>
      </div>
    </div>

    <div id="content">
      <div class="inner">
        <div id="sidebar">
          <h3>me</h3>
          <p>My name is Doug Alcorn. I'm a 30-something husband, dad, Christian, and hacker living in Cincinnati, OH. When I'm not on my computer or being a dad, I can be found out walking or running my dog.</p>
          <ul id="my-links">
            <li><a href="http://linkedin.com/in/dougalcorn">linkedin/dougalcorn</a></li>
            <li><a href="http://workingwithrails.com/person/5664-doug-alcorn">workingwithrails/dougalcorn</a></li>
            <li><a href="http://github.com/dougalcorn">github/dougalcorn</a></li>
            <li><a href="http://flickr.com/photos/lathi">flickr/lathi</a></li>
            <li><a href="http://www.facebook.com/doug.alcorn">facebook/doug.alcorn</a></li>
            <li><a href="http://runkeeper.com/user/dalcorn">runkeeper/dalcorn</a></li>
            <li><a href="/pages/DougAlcorn.html">contact info</a></li>
          </ul>
          <p>I am a member of <a href="http://gaslightsoftware.com">Gaslight Software</a>.</p>
        </div>

        <div id="main">
          {{ content }}
        </div>


      </div>
    </div>

    <div id="footer">
      <p id="copyright"><a href="/pages/copyright.html">Copyright</a>  &copy; 2001 - 2009 by Doug Alcorn</p>
    </div>
  </body>
</html>
